// Mixins in here
.custom-btn {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 200px;
    background: @button-bg;
    color: white;
    border-radius: 10px;
    font-size: 1.6rem;
}
